.errorSearch{
    font-size: $brand-baseFontSize;
    .search-toggle, .screen-reader-text{
        display: none;
    }
    .search-field{
        background-color: $brand-borderGrey;
        border: $brand-mediumGrey;
        width: 225px;
        padding: 10px 0 10px 10px;
        font-size: $brand-baseFontSize;
        font-family: 'Merriweather Web Light';
        margin-bottom: 30px;
    }

}   


.error{
    width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    main{
        width: 853px;
        h1 {
            text-transform: uppercase;
            font-family: 'Novecento Sans Web DemiBold';
            color: $brand-baseFontColor;
            font-size: 35px;
            letter-spacing: 3px;
            margin: 50px 0 25px 0;
        }

        p{
            font-family: 'Merriweather Web Light';
            color: $brand-baseFontColor;
            margin-bottom: 30px;
        }

        h2{
            font-family: 'Novecento Sans Web DemiBold'; 
            font-size: 24px;
            text-transform: uppercase;
            padding-bottom: 25px;  
            letter-spacing: 2px;     
            color: $brand-purple;
        }

        .recentPosts{
            margin-bottom: 50px;
            .recentPostsInfo{
                margin-bottom: 8px;
                font-family: 'Merriweather Web Light';
                font-size: $brand-baseFontSize;
                a{
                    text-decoration: none;
                    color: $brand-green;
                }

                a:hover{
                    color: $brand-purple; // change to dark brand-green
                }
            }
        }

        .errorCategories{
            margin-bottom: 40px;
            
            li{
                padding-bottom: 10px;
                font-family: 'Merriweather Web Light';
                a{
                font-family: 'Merriweather Web Light';
                font-size: $brand-baseFontSize; 
                text-decoration: none;
                color: $brand-green;
                }
            }
        }
    }
}

.fa-smile{
    color:	#FFD12A;
    background-color: #654321;
    border-radius: 15px;
}

.archivesMenu{
    margin-bottom: 50px;
    font-size: $brand-baseFontSize;
}