.wp-image-46{
    width: 100%;
    position: relative;
    object-fit: cover;
}

.aboutTitle{
    position: absolute;
    color: $brand-backgroundColor;
    font-size: 44px;
    font-family: 'Novecento Sans Web DemiBold';
    z-index: 1;
    top: 520px;
    left: 480px;
}

.aboutContent{
    h2{
        text-align: center;
        font-family: 'Novecento Sans Web DemiBold';
        text-transform: uppercase;
        font-size: 26px;
        padding: 15px 0;  
        color: $brand-baseFontColor;
    }

    p{
    font-family: 'Merriweather Web Light';
    padding: 15px 160px;
    line-height: $brand-lineHeight;
    font-size: $brand-baseFontSize;
    color: $brand-baseFontColor;
    }
}