.contactContent{
    padding: 30px 35px;

    .inhabitantMap{
        width: 750px;
        padding: 20px 0;
    }
    h2{
        text-transform: uppercase;
        font-family: 'Novecento Sans Web DemiBold';
        font-size: 26px;
        padding-bottom: 20px;
    }

    p{
        font-family: 'Merriweather Web Light';
        line-height: $brand-lineHeight;
        font-size: $brand-baseFontSize;
        padding: 10px 0;
    }
    
}