.contactContent{
    // width: 100%;
    padding: 3.7% 6%;


    .inhabitantMap{
        width: 95%;
        padding: 30px 0;
    }
    h2{
        text-transform: uppercase;
        font-family: 'Novecento Sans Web DemiBold';
        font-size: 26px;
        padding-bottom: 20px;
        color: $brand-purple;
    }

    p{
        font-family: 'Merriweather Web Light';
        line-height: $brand-lineHeight;
        font-size: $brand-baseFontSize;
        padding: 20px 0;
        color: $brand-baseFontColor;
    }
    
}