.homeLogo{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
    padding-bottom: 100px;
    }
}

.contentTitle{
    text-align: center;
    color: $brand-purple;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Novecento Sans Web';
    margin: 70px 0 50px 0;
}




.shopContainer{
    width: 1120px;
    margin: 0 auto 50px auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    

    .productIcons{
        display: flex;
        justify-content: space-around;
        margin: 30px auto;
    
        img{
            width: 240px;
            height: 75px;
        }
    }
    .shopInfoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 1px solid $brand-borderGrey;
        border-top-width: thick;

        .descriptionStuff{
            width: 240px;
            text-align: center;
            color: $brand-baseFontColor;
            font-family: 'Merriweather Web Light';
            line-height: $brand-lineHeight;
        }
    }
}

.shopInfoContainer:hover{
    border: 1px solid $brand-orange;
    border-top-width: thick;

}





.journalHomeContainer{
    margin: 30px auto;
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 1120px;

    .journalHomeInfo{
        width: 350px; 
        padding-bottom: 5px;
        border: 1px solid $brand-lightGrey;

        .journalIcon{
            img{
            width: 350px;
            height: 250px;
            border-bottom: 5px solid $brand-borderGrey; 
            }
        }
        .journalHomePostInfo{
            color: $brand-baseFontColor;
            font-family: 'Merriweather Web Light';
            padding: 10px 0 0 10px;
            text-align: left;
            font-size: 12px;
        }
        .journalHomePostTitle{
            color: $brand-green;
            font-family: 'Novecento Sans Web DemiBold';
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 3px;
            padding: 10px 0 0 10px;
        }
        .readEntry{
            padding: 8px 20px;
            background-color:$brand-white;
            text-transform: uppercase;
            margin: 15px 0 10px 10px;
            border-color: $brand-baseFontColor;
            font-size: 14px;
                a{
                    color: black;
                    text-decoration: none;
                }
            }
            .readEntry:hover{
                background-color:$brand-green;
                color: $brand-white;
                border: none;
                font-size: 14px;
                a{
                    color: $brand-white;
                }
            }
    }

}

.adventuresHome{
    position: relative;

    .adventuresHomeInfo{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}