.journalTitle{
    position: absolute;
    z-index: 1;
    padding-top: 60px;

        h2{
        font-family: 'Novecento Sans Web DemiBold';
        color: $brand-white;
        background-color: $brand-green;
        // margin-left: 175px;
        margin-left: 30px;

        font-size: 30px;
        text-transform: uppercase;
        max-width: 400px;
        line-height: 1.4;
        padding: 10px;
        }

        .postData{
            position: absolute;
            right: 0;
            // left: 600px;
            left: 455px;
            top: 509px;
            z-index: 1;
            font-family: 'Novecento Sans Web DemiBold';
            color: $brand-white;
            background-color: $brand-green;
            font-size: $brand-baseFontSize;
            text-transform: uppercase;
            text-align: right;
            padding: 10px;
            width: 325px;
            text-align: center;
        }
}

.journalContent{
    color: $brand-baseFontColor;
    padding: 20px 0;
        p{
            color: $brand-baseFontColor;
            line-height: $brand-lineHeight;
            font-family: 'Merriweather Web Light';
            font-size: $brand-baseFontSize;
            // padding: 10px 175px;
            padding: 10px 30px;
            width: 775px;
        }

        img{
            position: relative;
            width: 770px;
            height: 515px;
            padding: 10px 30px;
            // padding: 10px 175px;
        }
}





