.searchPageTitle{
    font-family: 'Novecento Sans Web DemiBold'; 
    font-size: 40px;
    text-transform: uppercase;
    padding: 50px 0 25px 0;
    letter-spacing: 2px;     
    color: $brand-baseFontColor;
    text-align: left;
    width: 750px;
    border-bottom: 1px solid #e1e1e1;
}

.searchContent{
    width: 750px;
    padding: 42px 50px 42px 0;

    h2{
        text-transform: uppercase;
        font-family: 'Novecento Sans Web DemiBold';
        font-size: 30px;
        color: $brand-green;
    }

    .resultsInfo{
        font-family: 'Merriweather Web Light';
        line-height: $brand-lineHeight;
        font-size: $brand-baseFontSize;
        padding: 20px 0;
        color: $brand-baseFontColor;
    }
    .resultsReadMore{
        .readMore{
            margin: 0 0 40px 0;
        }
    }
}
