.shopTitle{
    font-size: 30px;
    font-family: 'Novecento Sans Web DemiBold';
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    letter-spacing: 2px;
    color: $brand-baseFontColor;
}

.productsCategory{
    padding: 30px 0;
    
    .menu-product-types-container{
        display: flex;
        justify-content: center;
        
        .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
        
        a{
            color: $brand-green;
            font-family: 'Novecento Sans Web';
            text-transform: uppercase;
            text-decoration: none;
            font-size: $brand-baseFontSize;
            padding: 10px 0;

            }
        }
    }
}


.singleProducts{
    display: flex;
    flex-direction: row;
    padding: 40px 30px 80px 30px;
    


    .singleProductThumbnail{

        img{
        width: 500px;
        height: 375px;
        padding-right: 40px;
        }
    }

    .singleProductInfo{
        // need to fix name to purple and ....$ to grey
        
        .singleProductTitle{
            font-size: 35px;;
            color: $brand-orange;
            font-family: 'Novecento Sans Web DemiBold';
            text-transform: uppercase;
            padding-bottom: 20px;
            padding-top: 15px;
        }

        .singleProductPrice{
            padding-bottom: 20px;
            font-size: 25px;
        }

        p{
            font-size: $brand-baseFontSize;
            font-family: 'Merriweather Web Light';
            line-height: $brand-lineHeight;
            padding-bottom: 20px;
            width: 525px;

        }
        .shopBtn{
            display: flex;
            justify-content: left;
            margin: 10px 0;

            .button{
                margin-right: 5px;
                padding: 12px 23px;   
                background-color:$brand-white;
                text-transform: uppercase;
                border-color: $brand-baseFontColor;
                    a{
                        color: black;
                        text-decoration: none;
                    }
                    i{
                        padding-right: 5px;
                    }
                }
            .button:hover{
                background-color:$brand-green;
                color: $brand-white;
                border: none;
                    a{
                        color: $brand-white;
                    }
                }
        }
    }

}

