h3 {
    color: $brand-orange;
    text-transform: uppercase;
    font-family: 'Novecento Sans Web DemiBold';
}

footer{
    background: url("assets/images/dark-wood.png");

    .footerMainContainer{
        // width: 100%;
        font-size: $brand-baseFontSize;
        padding: 40px 40px;
        display: flex;
        justify-content: space-between;
        // width: 450px;
        line-height: $brand-lineHeight;

        .footerContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .footerInhabitantInfo{
                color: $brand-white;
                
                li{
                    font-family: 'Merriweather Web Light'; 
                    text-transform: lowercase;
                    padding-right: 30px;

                    i{
                        padding-right: 4px;
                    }
                }
                    .socialMediaIcons{
                    color: $brand-white;
                        width: 60px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
            }
            .footerHours{
            color: $brand-white;
            text-transform: lowercase;
            }
        }
        .footerLogo{
            width: 200px;
            height: 112px;
            margin-top: -30px;
        }
    }

    .copyright{
        color: $brand-white;
        padding: 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: $brand-baseFontSize;
    }
}