

footer{
    background: url("assets/images/dark-wood.png");

    .footerMainContainer{
        font-size: $brand-baseFontSize;
        padding: 40px 40px;
        display: flex;
        justify-content: space-between;
        line-height: $brand-lineHeight;
        width: 1120px;
        margin: 0 auto;

        .footerContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

                h2 {
                    color: $brand-orange;
                    text-transform: uppercase;
                    font-family: 'Novecento Sans Web DemiBold';
                    letter-spacing: 2px;
                    font-size: 18px;
                }

                li, p{
                    color: $brand-white;
                    font-size: $brand-baseFontSize;
                    font-family: 'Merriweather Web Light';
                    line-height: 2.5;
                }

                li{
                    text-transform: lowercase;
                }

                .footerInhabitantInfo{
                    margin-right: 50px;
                    i{
                        padding-right: 10px;
                    }
                    .socialMediaIcons{
                        display: flex;
                        flex-direction: row;
                        width: 50px;
                        justify-content: space-between;
                    }
                }

                .widget_text{
                    display: none;
                }

                .widget_archive, .sidebarAddress, .fa-map-marker-alt{
                    display: none;
                }
           
            
        }
        .footerLogo{
            width: 250px;
            height: 262px;
            margin-top: -100px;
        }
    }

    .copyright{
        color: $brand-white;
        padding: 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: $brand-baseFontSize;
    }
}
