.productsContainer{ 
    border-top: 1px dashed $brand-lightGrey;
    display: grid;
    grid-gap: 36px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px 0 75px 0;
    width: 1120px;
    margin: 0 auto;

    .products{
       
        .productsThumbnail{
            background-color: $brand-borderGrey;
            width: 252px;

            img{
            width: 250px;
            height: 250px;
            object-fit: cover;
            border: 1px solid $brand-borderGrey;        
            }
        }
    
        .productsInfo{
            border: 1px solid $brand-borderGrey;
            padding: 10px 5px;
            text-align: center;
            width: 240px;
            font-family: 'Merriweather Web Light';

            .title{
                color: $brand-purple;
            }
            .price{
                color: $brand-baseFontColor;
            }
        }
    }
}

.adventuresContainer{
    border-top: 1px dashed $brand-lightGrey;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 45px 0;
    width: 1120px;
    margin: 0 auto;
    .adventuresThumbnail{
       
        img{
            width: 550px;
            height: 550px;
            object-fit: cover; 
        }
    }
}
.adventuresHome{
    width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction : row;
    flex-wrap: wrap;
 
        .canoe-girl{
            width: 540px;
            height: 550px;
            background: linear-gradient(
            rgba(0,0,0,0.35) 0%,
            rgba(0,0,0,0.35) 100%);
            img{
                position: relative;
                height: 550px;
                width: 540px;
                object-fit: cover;
                z-index: -1;
            }
            .adventuresHomeInfo{
                font-family: 'Merriweather Web Light';
                font-size: 46px;
                line-height: 1.5;
                color: $brand-white;
                width: 500px;
                margin-top: -525px;
                margin-left: 25px;
            }
        }

        .beach-bonfire{
            width: 545px;
            height:275px;
            margin-left: 10px;
            background: linear-gradient(
            rgba(0,0,0,0.35) 0%,
            rgba(0,0,0,0.35) 100%);
            img{
                position: relative;                
                width: 545px;
                height: 275px;
                object-fit: cover;
                z-index: -1;
            }
            .adventuresHomeInfo{
                font-family: 'Merriweather Web Light';
                font-size: 44px;
                line-height: 1.5;
                color: $brand-white;
                width: 500px;
                margin-top: -250px;
                margin-left: 25px;
            }
        }
        .mountain-hikers{
            width: 265px;
            height: 265px;
            margin-top: -267px;
            margin-left: 550px;
            background: linear-gradient(
            rgba(0,0,0,0.35) 0%,
            rgba(0,0,0,0.35) 100%);
            img{
                position: relative;                
                width: 265px;
                height: 265px;
                object-fit: cover;
                z-index: -1;
            }
            .adventuresHomeInfo{
                font-family: 'Merriweather Web Light';
                font-size: 27px;
                line-height: 1.5;
                color: $brand-white;
                width: 200px;
                margin-top: -225px;
                margin-left: 25px;
            }
        }
        .night-sky{
            width: 265px;
            height: 265px;
            margin-top: -267px;
            margin-left: 15px;
            background: linear-gradient(
            rgba(0,0,0,0.35) 0%,
            rgba(0,0,0,0.35) 100%);

            img{
                position: relative;                
                width: 265px;
                height: 265px;
                object-fit: cover;
                z-index: -1;
            }
            .adventuresHomeInfo{
                font-family: 'Merriweather Web Light';
                font-size: 27px;
                line-height: 1.5;
                color: $brand-white;
                width: 200px;
                margin-top: -225px;
                margin-left: 25px;
            }
        }
}