.productsContainer{ 
    border-top: 1px dashed $brand-lightGrey;
    display: grid;
    grid-gap: 36px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px 0 75px 0;
    width: 1120px;
    margin: 0 auto;

    .products{
       
        .productsThumbnail{
            background-color: $brand-borderGrey;
            width: 252px;

            img{
            width: 250px;
            height: 250px;
            object-fit: cover;
            border: 1px solid $brand-borderGrey;        
            }
        }
    
        .productsInfo{
            border: 1px solid $brand-borderGrey;
            padding: 10px 5px;
            text-align: center;
            width: 240px;
            font-family: 'Merriweather Web Light';

            .title{
                color: $brand-purple;
            }
            .price{
                color: $brand-baseFontColor;
            }
        }
    }
}

.adventuresContainer{
    border-top: 1px dashed $brand-lightGrey;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 45px 0;
    width: 1120px;
    margin: 0 auto;
    .adventuresThumbnail{
       
        img{
            width: 550px;
            height: 550px;
            object-fit: cover; 
        }
    }
}
.adventuresHome{
    width: 1120px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}