.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 0 1px 0;

    .navLogo{
        width: 45px;
        height: 45px;
        padding-left: 50px;
    }
}

.navContainerWhite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    padding: 2px;

    .navLogo{
        width: 45px;
        height: 45px;
        padding-left: 50px;
    }
}