.nav{
        .menu{
        margin: 10px 30px;
        text-transform: uppercase;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 350px;

            li{
                a{
                    text-decoration: none;
                    color: $brand-white;
                }
                a:hover{
                    color: $brand-yellow;
                }
            }
        }
}


.navWhite{
    .menu{
    margin: 10px 30px;
    text-transform: uppercase;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;

        li{
            a{
                text-decoration: none;
                color: $brand-green;
            }
            a:hover{
                color: $brand-purple;
            }
        }
    }
}