.nav{
    display: flex;
    justify-content: space-between;

        .menu{
        padding-top: 20px;
        text-transform: uppercase;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;

            li{
                a{
                    text-decoration: none;
                    color: $brand-white;
                }
                a:hover{
                    color: $brand-yellow;
                }
            }
        }
        .header-search{
            font-size: $brand-baseFontSize;
    
            .search-toggle{
                color: $brand-white;
                padding-right: 10px;
                padding-left: 15px;
                padding-top: 19px;
                .fa-search{
                    padding-top: 19px;
                }
            }
            .search-toggle:hover{
                color: $brand-yellow;
            }
            .screen-reader-text{
                display: none;
            }
            .search-field{
                color: $brand-mediumGrey;
                text-transform: uppercase;
                border: none;
                width: 200px;
                font-size: $brand-baseFontSize;
                background-color: transparent;
            }
        }

}


.navWhite{
    display: flex;
    justify-content: space-between;

    .menu{
    padding-top: 20px;
    text-transform: uppercase;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;

        li{
            a{
                text-decoration: none;
                color: $brand-green;
            }
            a:hover{
                color: $brand-purple;
            }
        }
    }
    .header-search-white{
        font-size: $brand-baseFontSize;

        .search-toggle{
            color: $brand-green;
            padding-right: 10px;
            padding-left: 15px;
            padding-top: 19px;
            .fa-search{
                padding-top: 19px;
            }
        }
        .search-toggle:hover{
            color: $brand-purple;
        }
        .screen-reader-text{
            display: none;
        }
        .search-field{
            color: $brand-lightGrey;
            text-transform: uppercase;
            background: none;
            border: none;
            width: 200px;
            font-size: $brand-baseFontSize;
        }
    }
}