.sidebarContent{ 
    .sidebar {
        width: 225px;
        padding: 40px 35px 0 35px;
    

        aside{
        padding-bottom: 20px;
        
            
            .textwidget{
            font-family: 'Merriweather Web Light';
            padding-bottom: 20px;

                    ul{
                        li{
                        display: flex;
                        flex-direction: row;
                        padding: 5px 0;

                            i{
                            padding-right: 10px;
                            padding-top: 5px;
                            color: $brand-baseFontColor;

                            }
                            p{
                            line-height: $brand-lineHeight;
                            color: $brand-baseFontColor;
                            }
                            .sidebarNumber, .sidebarEmail{
                                color: $brand-green;
                            }
                        }
                    }
            }
        

            h2{
            font-family: 'Novecento Sans Web DemiBold'; 
            font-size: 20px;
            text-transform: uppercase;
            padding-bottom: 20px;  
            letter-spacing: 2px;     
            color: $brand-purple;
            }

            a {
            font-family: 'Merriweather Web Light';
            line-height: $brand-lineHeight;
            color: $brand-green;
            text-decoration: none;
            } 
        }

        .biz-hours-class{
            p{
                font-family: 'Merriweather Web Light';
                color: $brand-baseFontColor;
                padding-bottom: 5px;
        
                .day-of-week{
                    font-family: 'Merriweather Web Bold';
                    color: $brand-baseFontColor;
                    line-height: $brand-lineHeight;
                    font-size: 14px;
                    }
            }
        }
    }
}

