html{
    width: 100%;
}
body {
    max-width: 100%;
    margin: 0 auto;
}


main{
    border-right: 1px solid #c8c8c8;
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: right;
}