.button{
    margin-right: 5px;
    padding: 12px 23px;
    background-color:$brand-white;
    text-transform: uppercase;
    border-color: $brand-baseFontColor;

        a{
        color: black;
        text-decoration: none;
        }
        i{
        padding-right: 5px;
        }
}
.button:hover{
    background-color:$brand-green;
    color: $brand-white;
    border: none;
        a{
        color: $brand-white;
        }
}

.readMore{
padding: 10px 20px;
background-color:$brand-white;
text-transform: uppercase;
border-color: $brand-baseFontColor;
    a{
        color: black;
        text-decoration: none;
    }
}
.readMore:hover{
    background-color:$brand-green;
    color: $brand-white;
    border: none;
    a{
        color: $brand-white;
    }
}

.adventureMoreBtn{
    padding: 80px 0 0 30px;
    .readMore{
    margin: -35px auto 60px auto;
    background-color: transparent;
    border: 1px solid $brand-white;
    color: $brand-white;
    }
        a{
            color: $brand-white;
            font-size: 13px;
        }

    .readMore:hover{
        background-color:$brand-green;
        color: $brand-white;
        border: none;
    a{
        color: $brand-white;
    }
    }    
 }

 .adventureSingleBtn{
     width: 925px;
     margin: -30px auto 60px auto;
 }